<br><br>
<%= file_field_tag :file, class: "ui button green" %>
<br><br>
<button id="compile" data-method='get' data-remote="true" onclick='change()'>Compile</button>
<br>
<div id = "error_data"></div>