<div class="bgimg-1">
  <div class="caption">
    <figure>
  <h1>HTML CODE COMPILER</h1>
  <h1>HTML CODE COMPILER</h1>
  <h1>HTML CODE COMPILER</h1>
  <h1>HTML CODE COMPILER</h1>
  <h1>HTML CODE COMPILER</h1>
  <h1>HTML CODE COMPILER</h1>
  <h1>HTML CODE COMPILER</h1>
  <h1>HTML CODE COMPILER</h1>
  <h1>HTML CODE COMPILER</h1>
  <h1>HTML CODE COMPILER</h1>
</figure>
  <div class="container">
    <p class="glow">By Rachit Verma</p>
  </div>

  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <span class="border" style="background-color:transparent;font-size:25px;color: YELLOW;">CHOOSE HTML FILE TO COMPILE</span>
  <%= render partial: 'form' %>
  <br>
</div>

<div class="bgimg-2">
  <div class="caption">
    <h3 style="text-align:center;"> About</h3>
    <p> Compiles the html code and return the errors and warning (if any) </p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">HTML CODE COMPILER </span>
  </div>
  <div class = "footer_thanks">Thanks For Using</div>
</div>
